Python Session 1

4th July, 2022

(c) Arkaprabha Sinha Roy

# Hello World
1. Print "Hello World"

You probably know what this code is doing.

In [2]:
print("Hello World")

Hello World

# Syntax

2. IF number is more than 2, print "more than 2"

Python reads almost like English

In [3]:
x = 4
if x > 2:
  print("more than 2")
  ...
...
# whenever we use a colon `:` we have to use indentation on the next line

more than 2

Ellipsis

similarity and dissimilarity to C
```c
int x;
x = 4;
if(x>2){
  printf("more than 2");
}
```

# Comments

Comments start with a `#`

In [4]:
# this is a comment

# Printing Strings

```py
print("single line, double quotes")
print('single line, single quotes')
print("""multiline
text
like this is also "possible"!
""")
```

There are also f-strings, r-strings which will be discuss later

In [5]:
print("single line, double quotes")
print('single line, single quotes')
print("""multiline
text
like this is also "possible"!
""")

single line, double quotes
single line, single quotes
multiline
text
like this is also "possible"!

# Variables

3. ASSIGN 3 to a
4. ASSIGN 6 to six
5. ASSIGN 5 to 4?

In [6]:
a = 3
# a <- 3
six = 6
# 5 = 4
four = 4
# _four = 4
# a-zA-Z_

In [7]:
# WORKING WITH VARIABLES
b = a

# value of b?
b

3

# Printing numbers

You can do
`print(5)` or `print("5")`

Or you can declare a variable x and print that
`print(x)`

6. PRINT a
7. PRINT b
8. PRINT x

In [8]:
print(a)
print(b)
# print(y)

3
3

Printing to the same line

9. using `end=""`
10. using `,`

In [9]:
print(a, end="")
print(b) # <- useful to know
print(a, b)  # <- this is better

33
3 3

sepatators

In [10]:
print(a, b, sep=" this is a separator ")
# by default sep=" "
print(a, b, end=" this is end ")
# by default end="\n"

3 this is a separator 3
3 3 this is end

# Arithmetic Operations

`+` addition

`-` subtraction 

`*` multiplication 

`/` division


`**` exponentiation

`//` integer division

`%` modulus

In [11]:
# try it yourself